

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F9FAFB;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 44px;
  font-weight: 900;
  font-family: "HelveticaNeue";
  color: #000000;
}

.title,
.description,
.code
{
  display: flex;
  font-family: "HelveticaNeue";
  margin-left: 94px;
}

.description {
  margin-top: 73px;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: bold;
  color: #192024;
}

.checkboxContainer{
  display: inline-flex;
  margin-left: 94px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 94px;
  margin-top: 56px;
}

/*@media (max-width: 600px) {*/
/*  .grid {*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*  }*/
/*}*/
